.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
/.vscode

# Local History for Visual Studio Code
.history/

# 
Lovelace/.vscode/
Lovelace/node_modules/
Lovelace/Lovelace.Api/bin/
Lovelace/Lovelace.Api/obj/
Lovelace/Lovelace.Core/obj/
Lovelace/Lovelace.Core/bin/
Lovelace/Lovelace.Data/obj/
Lovelace/Lovelace.Data/bin/
